<section class="my-network">
  <div class="page-title">
    <h1>MoodKick</h1>
    <h2>My Network</h2>
    <a class="back" href="#/dashboard">Back</a>
  </div>
  <ul class="people">
    <li class="add-new">
      <a href="#/users">Add new</a>
    </li>
    <li ng-repeat="contact in contacts">
      <a href="#/contacts/{{contact.user.id}}">
        <h3>{{contact.full_name}}</h3>
        <img ng-src="{{contact.avatar_url}}"/>
        <div ng-show="contact.online" class="online">Online</div>
        <div ng-hide="contact.online" class="offline">Offline</div>
      </a>
    </li>
  </ul>
</section>
