<section class="rich-text learn">
  <div class="page-title">
    <h1>MoodKick</h1>
    <h2>Learn overview</h2>
    <a class="back" href="#/dashboard">Back</a>
  </div>
  <div class="content">
    <div class="body">
      <div><h1>Learn Overview</h1>Learning materials for you to enjoy</div>
    </div>
    <ul class="brochures">
      <li><a href="#/learn/suicidal_thoughts">Suicidal thoughts</a></li>
      <li><a href="#/learn/advice_for_relatives">Advice for Relatives</a></li>
    </ul>
  </div>
</section>
