<section class="cheers">
  <div class="page-title">
    <h1>MoodKick</h1>
    <h2>Cheers</h2>
    <a class="back" href="#/dashboard">Back</a>
  </div>
  <div class="content people">
    <div class="cheer">
      <div class="who-when">
        <h3>Ane Anesen</h3>
        <div class="online">Online</div>
        <img class="avatar" src="images/avatars/avatar-02-large.png" alt="avatar"/>
        <span class="sent">30/5 2012, 8:00</span>
      </div>
      <p>Ahoj and hello. I'm so glad to tell you how much I hold you dear, and I think that you're a great person. Let me know if I can be of any help. Best wishes, Ane</p>
      <p>Ahoj and hello. I'm so glad to tell you how much I hold you dear, and I think that you're a great person. Let me know if I can be of any help. Best wishes, Ane</p>
      <p>Ahoj and hello. I'm so glad to tell you how much I hold you dear, and I think that you're a great person. Let me know if I can be of any help. Best wishes, Ane</p>
      <div class="subcheer">
        <img class="avatar" src="images/avatars/avatar-04-large.png" alt="avatar"/>
        <div class="who-when">
          <h3>Ane Anesen</h3>
          <span class="sent">30/5 2012, 8:00</span>
        </div>
        <p>Thank you so much! :D</p>
      </div>
      <div class="subcheer">
        <div class="who-when">
          <h3>Ane Anesen</h3>
          <img class="avatar" src="images/avatars/avatar-02-large.png" alt="avatar"/>
          <span class="sent">30/5 2012, 8:00</span>
        </div>
        <p>You're welcome ;)</p>
      </div>
    </div>
    <div class="cheer">
      <div class="who-when">
        <h3>Signe Signesen</h3>
        <span class="sent">30/5 2012, 8:00</span>
        <img class="avatar" src="images/avatars/avatar-03-large.png" alt="avatar"/>
        <div class="online">Online</div>
      </div>
      <p>Hi love, I just found a great site on the web that I would like to share with you. Try and check out www.tuba.dk. Take care, Signe.</p>
    </div>
    <div class="cheer">
      <div class="who-when">
        <h3>Jens Jensen</h3>
        <span class="sent">30/5 2012, 8:00</span>
        <img class="avatar" src="images/avatars/avatar-04-large.png" alt="avatar"/>
        <div class="offline">Offline</div>
      </div>
      <p>Hey :-)! I has a great time with you when we met last week. A lot of positive thoughts to you. I'm sure that you will get past this - and be a stringer person on the other side. Love, Jens</p>
    </div>
  </div>
</section>
