input[type="text"].fd-form-element-hidden
  display none
  height 1000px

.fd-slider
  width 100%
  height 28px
  margin 0 0 10px 0
  text-align center
  display block
  position relative
  cursor pointer
  text-decoration none
  border 0 none

.fd-slider-wrapper
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.fd-slider-bar
  display block
  position absolute
  top 6px
  right 10px
  left 10px
  z-index 2
  height 15px
  margin 0
  padding 0
  overflow hidden
  line-height 4px
  background-color white
  border-radius 28px

.fd-slider-handle
  position absolute
  display block
  padding 0
  border 0 none
  margin 0
  z-index 3
  top 0
  left 0
  width 28px
  height 28px
  line-height 28px
  outline 0 none
  background-color #EEE
  border  1px solid #CCC
  border-radius  28px
  box-shadow  0px 1px 4px rgba(0,0,0,.3)
  cursor W-resize
  font-size 10px
